body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: #f6f7fb;
    height: 100vh;

    font-family: 'Segoe UI', sans-serif;
    font-size: large;
    font-weight: 300;
}

.steps-container {
    display: flex;
    gap: 5rem;
    position: relative;
}

.steps-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: lightgray;
    z-index: -1;
}

.progress-bar {
    height: 5px;
    background-color: dodgerblue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s ease;
}

.step {
    background-color: white;
    color: gray;
    border: solid 3px lightgray;
    border-radius: 100px;

    transition: 1s ease;

    width: 1.7rem;
    height: 1.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-color: dodgerblue;
}   

.controls-container {
    display: flex;
    gap: 20px;
}

button {
    padding: 0.7rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: medium;
    background-color: dodgerblue;
    transition: 0.4s ease;
}

button:disabled {
    cursor: not-allowed;
    background-color: lightgray;
}