body {
    background-color: white;
    box-sizing: border-box;
    padding: 5rem;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.panel {
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    animation: contract 1s forwards;
}

h3 {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 500;
}

.active {
    animation: expand 1s forwards;
}

@keyframes expand {
    from {
        flex: 0.1;
        color: transparent;
    }
    to {
        flex: 1;
        color: white;
    }
}

@keyframes contract {
    from {
        flex: 1;
        color: white;
    }
    to {
        flex: 0.1;
        color: transparent;
    }
}

@media screen and (max-width: 1000px) {
    body {
        flex-direction: column;
        padding: 2rem;
        height: 100vh;
    }
}